@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic);
/* line 11, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * PLACEHOLDERS
 **********************************************************/
/**
 * Layout
 **************************************/
/* line 10, ../src/scss/utils/_placeholders.scss */
.l-contained {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.l-contained:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 18, ../src/scss/utils/_placeholders.scss */
.l-region-featured {
  padding-right: 20px;
  padding-left: 20px;
}

/**
 * Lists
 **************************************/
/* line 28, ../src/scss/utils/_placeholders.scss */
.menu,
ul.menu li, .l-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

/* line 37, ../src/scss/utils/_placeholders.scss */
.l-navigation ul li {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

/**
 * Buttons
 **************************************/
/**
 * Images
 **************************************/
/* line 68, ../src/scss/utils/_placeholders.scss */
.l-contained img, .l-branding img {
  max-width: 100%;
  height: auto;
}

/**
 * Misc
 **************************************/
/**
 * BASE
 **********************************************************/
/**
 * Typography
 **************************************/
/* line 7, ../src/scss/base/_typography.scss */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111111;
}

/* line 18, ../src/scss/base/_typography.scss */
a:link, a:active, a:visited {
  transition: all 250ms ease-in-out;
  color: #111111;
  text-decoration: none;
}
/* line 22, ../src/scss/base/_typography.scss */
a:link:hover, a:link:active, a:active:hover, a:active:active, a:visited:hover, a:visited:active {
  color: #7fdbff;
}

/* line 29, ../src/scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
}

/**
 * Media
 **************************************/
/* line 7, ../src/scss/base/_media.scss */
.flexslider {
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
/* line 12, ../src/scss/base/_media.scss */
.flexslider img {
  display: block;
}

/* line 31, ../src/scss/base/_media.scss */
.flex-direction-nav a {
  overflow: visible;
}

/* line 44, ../src/scss/base/_media.scss */
.flex-caption {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 54, ../src/scss/base/_media.scss */
.flex-control-thumbs li {
  width: 15.25424%;
  float: left;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 2) {
  margin-left: 16.94915%;
  margin-right: -100%;
  clear: none;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 3) {
  margin-left: 33.89831%;
  margin-right: -100%;
  clear: none;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 4) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 5) {
  margin-left: 67.79661%;
  margin-right: -100%;
  clear: none;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
.flex-control-thumbs li:nth-child(6n + 6) {
  margin-left: 84.74576%;
  margin-right: -100%;
  clear: none;
}

/**
 * Lists
 **************************************/
/* line 10, ../src/scss/base/_lists.scss */
.menu a,
ul.menu li a {
  display: block;
}

/**
 * Forms
 **************************************/
/* line 22, ../src/scss/base/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
.recaptcha_input_area input[type="text"] {
  padding: 2px 0px 2px 5px;
  border: 1px solid #aaa !important;
}

/* line 36, ../src/scss/base/_forms.scss */
.resizable-textarea .grippie {
  border: 0;
  background: none;
}

/* line 43, ../src/scss/base/_forms.scss */
fieldset.captcha {
  padding: 0;
  border: 0;
}
/* line 46, ../src/scss/base/_forms.scss */
fieldset.captcha img#recaptcha_logo,
fieldset.captcha .fieldset-legend {
  display: none;
}
/* line 50, ../src/scss/base/_forms.scss */
fieldset.captcha .fieldset-description {
  padding: 10px 0;
}

/* line 57, ../src/scss/base/_forms.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}

/* line 64, ../src/scss/base/_forms.scss */
.node-type-webform .recaptchatable,
.node-type-webform .recaptchatable #recaptcha_image {
  border: 0 !important;
}

/* line 70, ../src/scss/base/_forms.scss */
.marker, .form-required {
  color: red;
}

/**
 * LAYOUT
 **********************************************************/
/**
 * Global
 **************************************/
/* line 4, ../src/scss/layout/_layout.scss */
.l-page {
  overflow: hidden;
  border: solid #111111;
  border-width: 10px 0;
}

/* line 15, ../src/scss/layout/_layout.scss */
.l-wrapper {
  padding: 20px 0;
}

/* line 22, ../src/scss/layout/_layout.scss */
.l-utility-bar-wrapper {
  background: #bbb;
}

/* line 26, ../src/scss/layout/_layout.scss */
.l-header-wrapper {
  background: #ccc;
}

/* line 32, ../src/scss/layout/_layout.scss */
.l-branding {
  float: left;
  width: 100px;
}

/* line 50, ../src/scss/layout/_layout.scss */
.l-featured-wrapper {
  background: #ddd;
}

/* line 60, ../src/scss/layout/_layout.scss */
.l-above-main-wrapper {
  background: #eee;
}

/* line 68, ../src/scss/layout/_layout.scss */
.l-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 73, ../src/scss/layout/_layout.scss */
.l-below-main-wrapper {
  background: #eee;
}

/* line 79, ../src/scss/layout/_layout.scss */
.l-triptych-wrapper {
  background: #ddd;
}

/* line 85, ../src/scss/layout/_layout.scss */
.l-footer-columns-wrapper {
  background: #ccc;
}

/* line 89, ../src/scss/layout/_layout.scss */
.l-footer-wrapper {
  background: #bbb;
}

/* line 95, ../src/scss/layout/_layout.scss */
.l-region-footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/**
 * Narrow
 **************************************/
@media (min-width: 768px) {
  /* line 111, ../src/scss/layout/_layout.scss */
  .sidebar-first .l-main-content,
  .sidebar-second .l-main-content,
  .two-sidebars .l-main-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 114, ../src/scss/layout/_layout.scss */
  .sidebar-first .l-sidebar-first,
  .sidebar-first .l-sidebar-second,
  .sidebar-second .l-sidebar-first,
  .sidebar-second .l-sidebar-second,
  .two-sidebars .l-sidebar-first,
  .two-sidebars .l-sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 118, ../src/scss/layout/_layout.scss */
  .sidebar-first .l-sidebar-second,
  .sidebar-second .l-sidebar-second,
  .two-sidebars .l-sidebar-second {
    clear: right;
  }

  /* line 122, ../src/scss/layout/_layout.scss */
  .l-region-triptych-first,
  .l-region-triptych-middle {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 126, ../src/scss/layout/_layout.scss */
  .l-region-triptych-last {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }

  /* line 129, ../src/scss/layout/_layout.scss */
  .l-region-footer-firstcolumn,
  .l-region-footer-secondcolumn,
  .l-region-footer-thirdcolumn {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 134, ../src/scss/layout/_layout.scss */
  .l-region-footer-fourthcolumn {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
/**
 * Normal
 **************************************/
@media (min-width: 960px) {
  /* line 145, ../src/scss/layout/_layout.scss */
  .sidebar-first .l-main-content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
    padding-left: 4.23729%;
  }
  /* line 149, ../src/scss/layout/_layout.scss */
  .sidebar-first .l-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 2.11864%;
  }

  /* line 155, ../src/scss/layout/_layout.scss */
  .sidebar-second .l-main-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 4.23729%;
    border-right: 1px solid #dddddd;
  }
  /* line 160, ../src/scss/layout/_layout.scss */
  .sidebar-second .l-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    padding-left: 2.11864%;
    clear: none;
  }

  /* line 167, ../src/scss/layout/_layout.scss */
  .two-sidebars .l-main-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
  }
  /* line 171, ../src/scss/layout/_layout.scss */
  .two-sidebars .l-sidebar-first,
  .two-sidebars .l-sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 175, ../src/scss/layout/_layout.scss */
  .two-sidebars .l-sidebar-first {
    margin-left: -76.27119%;
  }
  /* line 178, ../src/scss/layout/_layout.scss */
  .two-sidebars .l-sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
/**
 * Internet Explorer
 **************************************/
/* line 145, ../src/scss/layout/_layout.scss */
.lt-ie9 .sidebar-first .l-main-content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  padding-left: 4.23729%;
}
/* line 149, ../src/scss/layout/_layout.scss */
.lt-ie9 .sidebar-first .l-sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 2.11864%;
}
/* line 155, ../src/scss/layout/_layout.scss */
.lt-ie9 .sidebar-second .l-main-content {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 4.23729%;
  border-right: 1px solid #dddddd;
}
/* line 160, ../src/scss/layout/_layout.scss */
.lt-ie9 .sidebar-second .l-sidebar-second {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  padding-left: 2.11864%;
  clear: none;
}
/* line 167, ../src/scss/layout/_layout.scss */
.lt-ie9 .two-sidebars .l-main-content {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%;
}
/* line 171, ../src/scss/layout/_layout.scss */
.lt-ie9 .two-sidebars .l-sidebar-first,
.lt-ie9 .two-sidebars .l-sidebar-second {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 175, ../src/scss/layout/_layout.scss */
.lt-ie9 .two-sidebars .l-sidebar-first {
  margin-left: -76.27119%;
}
/* line 178, ../src/scss/layout/_layout.scss */
.lt-ie9 .two-sidebars .l-sidebar-second {
  float: right;
  margin-right: 0;
  clear: none;
}

/**
 * COMPONENTS
 **********************************************************/
/**
 * Navigation
 **************************************/
/**
 * Main menu
 ******************/
/* line 18, ../src/scss/components/_navigation.scss */
.l-navigation {
  line-height: 60px;
}
/* line 22, ../src/scss/components/_navigation.scss */
.l-navigation h2 {
  display: none;
}
/* line 26, ../src/scss/components/_navigation.scss */
.l-navigation ul {
  text-align: right;
}
/* line 29, ../src/scss/components/_navigation.scss */
.l-navigation ul li {
  position: relative;
}
/* line 32, ../src/scss/components/_navigation.scss */
.l-navigation ul li a {
  display: block;
  padding: 0 10px;
  color: #000;
  line-height: 40px;
}
/* line 37, ../src/scss/components/_navigation.scss */
.l-navigation ul li a:hover {
  border-radius: 5px;
  background: #fff;
}
/* line 42, ../src/scss/components/_navigation.scss */
.l-navigation ul li:hover ul {
  visibility: visible;
}
/* line 45, ../src/scss/components/_navigation.scss */
.l-navigation ul li.expanded {
  padding-right: 10px;
}
/* line 47, ../src/scss/components/_navigation.scss */
.l-navigation ul li.expanded a {
  padding-right: 20px;
}
/* line 50, ../src/scss/components/_navigation.scss */
.l-navigation ul li.expanded:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #333;
  content: "\25BC";
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;
}
/* line 67, ../src/scss/components/_navigation.scss */
.l-navigation ul ul {
  position: absolute;
  visibility: hidden;
  background: #7fdbff;
  text-align: left;
}
/* line 72, ../src/scss/components/_navigation.scss */
.l-navigation ul ul li {
  display: block;
  width: 120px;
}
@media (max-width: 768px) {
  /* line 18, ../src/scss/components/_navigation.scss */
  .l-navigation {
    margin: 0 -20px;
  }
  /* line 80, ../src/scss/components/_navigation.scss */
  .l-navigation h2 {
    position: relative;
    display: block;
    margin: 0 20px 0 0;
    padding-right: 30px;
    text-align: right;
    font-weight: 600;
    line-height: 60px;
    cursor: pointer;
  }
  /* line 91, ../src/scss/components/_navigation.scss */
  .l-navigation h2:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\2630";
  }
  /* line 99, ../src/scss/components/_navigation.scss */
  .l-navigation ul {
    display: none;
    width: 100%;
  }
  /* line 102, ../src/scss/components/_navigation.scss */
  .l-navigation ul li {
    display: block;
    width: 100%;
    border-bottom: solid 1px #000;
    background: #7fdbff;
    text-align: left;
  }
  /* line 108, ../src/scss/components/_navigation.scss */
  .l-navigation ul li a {
    padding: 0 20px;
  }
  /* line 110, ../src/scss/components/_navigation.scss */
  .l-navigation ul li a:hover {
    border-radius: 0;
  }
  /* line 114, ../src/scss/components/_navigation.scss */
  .l-navigation ul li.expanded {
    padding-right: 0;
  }
  /* line 117, ../src/scss/components/_navigation.scss */
  .l-navigation ul li.last {
    border-bottom: none;
  }
  /* line 123, ../src/scss/components/_navigation.scss */
  .l-navigation ul ul {
    z-index: 1;
  }
  /* line 125, ../src/scss/components/_navigation.scss */
  .l-navigation ul ul li {
    width: 100%;
  }
  /* line 127, ../src/scss/components/_navigation.scss */
  .l-navigation ul ul li a {
    background: #f1f1f1;
  }
  /* line 129, ../src/scss/components/_navigation.scss */
  .l-navigation ul ul li a:hover {
    background: #f9f9f9;
  }
}

/**
 * Pages
 **************************************/
/**
 * Views
 **************************************/
/**
 * Blocks
 **************************************/
/**
 * Search
 **************************************/
/**********************************************************/
/* line 5, ../src/scss/components/_misc.scss */
.block-demo-backlink {
  display: none;
}
