/**
 * Navigation
 **************************************/

.l-branding {}

.l-region-header {}

.l-navigation {
  // overflow: visible;
  // padding: 0;
}

/**
 * Main menu
 ******************/

.l-navigation {
  line-height: 60px;
  // position: relative;
  // background: $aqua;
  h2 {
    display: none;
  }
  ////// First level
  ul {
    @extend %ul-reset;
    text-align: right;
    li {
      @extend %inline-block;
      position: relative;
      a {
        display: block;
        padding: 0 10px;
        color: #000;
        line-height: 40px;
        &:hover {
          border-radius: 5px;
          background: #fff;
        }
      }
      &:hover ul {
        visibility: visible;
      }
      &.expanded {
        padding-right: 10px;
        a {
          padding-right: 20px;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          color: #333;
          content: "\25BC";
          text-align: center;
          font-size: 12px;
          line-height: 40px;
          cursor: pointer;
        }
      }
    }
  }
  ///// Second level
  ul ul {
    position: absolute;
    visibility: hidden;
    background: $aqua;
    text-align: left;
    li {
      display: block;
      width: 120px;
    }
  }
  /////////// Mobile
  @media (max-width: 768px) {
    margin: 0 -20px;
    h2 {
      position: relative;
      display: block;
      // margin: 0;
      // padding: 0 20px;
      margin: 0 20px 0 0;
      padding-right: 30px;
      text-align: right;
      font-weight: 600;
      line-height: 60px;
      cursor: pointer;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "\2630";
      }
    }
    //// First level
    ul {
      display: none;
      width: 100%;
      li {
        display: block;
        width: 100%;
        border-bottom: solid 1px #000;
        background: $aqua;
        text-align: left;
        a {
          padding: 0 20px;
          &:hover {
            border-radius: 0;
          }
        }
        &.expanded {
          padding-right: 0;
        }
        &.last {
          border-bottom: none;
        }
      }
    }
    /// Second level
    ul ul {
      z-index: 1;
      li {
        width: 100%;
        a {
          background: #f1f1f1;
          &:hover {
            background: #f9f9f9;
          }
        }
      }
    }
  }
}
