// http://clrs.cc/
//----------------------------------------------------------

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$black: #111111;
$gray: #aaaaaa;
$silver: #dddddd;
$white: white;

$gs00: black;
$gs01: #111111;
$gs02: #222222;
$gs03: #333333;
$gs04: #444444;
$gs05: #555555;
$gs06: #666666;
$gs07: #777777;
$gs08: #888888;
$gs09: #999999;
$gs10: #aaaaaa;
$gs11: #bbbbbb;
$gs12: #cccccc;
$gs13: #dddddd;
$gs14: #eeeeee;
$gs15: white;

// Color
//----------------------------------------------------------

// Text
$color-text: $black;
$color-link: $black;
$color-link-hover: $aqua;

// Background

// Border
