// Susy global settings
//----------------------------------------------------------
@include border-box-sizing;

$susy: (columns: 12, gutters: 0.25, math: fluid, container: 960px, global-box-sizing: border-box, use-custom: (box-sizing: true, rem: true));

// Breakpoints
//----------------------------------------------------------
@mixin respond-to($breakpoint) {
  @if $breakpoint == "narrow" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == "normal" {
    @media (min-width: 960px) {
      @content;
    }
    /**
     * Internet Explorer
     **************************************/
    .lt-ie9 {
      @content;
    }
  }
  @else if $breakpoint == "wide" {
    @media (min-width: 1080px) {
      @content;
    }
  }
}

// Spacing
//----------------------------------------------------------
$space-v: 20px;
$space-h: 20px;
