/**
 * PLACEHOLDERS
 **********************************************************/

/**
 * Layout
 **************************************/
// Container
//------------------
%container {
  @include container;
  padding-right: $space-h;
  padding-left: $space-h;
}

// Wide container
//------------------
%wide-container {
  padding-right: $space-h;
  padding-left: $space-h;
}

/**
 * Lists
 **************************************/
// Lists reset
//------------------
%ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

// Inline-block
//------------------
%inline-block {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

/**
 * Buttons
 **************************************/
%btn {
  display: block;
  margin: 20px 0;
  a {
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

/**
 * Images
 **************************************/

// Fluid images
//------------------
%fluid-img {
  img {
    max-width: 100%;
    height: auto;
  }
}

// Sprite image
//------------------
%sprite {
  display: block;
  overflow: hidden;
  background-image: url(../img/sprite.svg);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  .no-svg & {
    background-image: url(../img/sprite.png);
  }
}

/**
 * Misc
 **************************************/
// Frames
//------------------
%frame {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #fff;
}

%rounded-frame {
  @extend %frame;
  border-radius: 5px;
}
