// RRSS
//--------------------------------------
$facebook: #3b5998;
$google: #dd4b39;
$instagram: #517fa4;
$linkedin: #4875b4;
$pinterest: #cb2027;
$twitter: #55acee;
$vimeo: #aad450;
$youtube: #bb0000;

// Text
//--------------------------------------
$base-font-color: #333333;
$color-link: magenta;
$color-link-hover: cyan;

// $base-link-color: #58b8d1;
// $base-link-hover-color: #df006e;
