//----------------------------------------------------------
//----------------------------------------------------------
// MAIN MENU (MOBILE FIRST)
//----------------------------------------------------------
//----------------------------------------------------------
.l-navigation {
  h2 {
    @include icon-before(nav);
    margin: 0;
    cursor: pointer;
    line-height: 60px;
    &:before {
      vertical-align: baseline;
    }
  }
  // First level
  //------------------------------------
  ul {
    display: none;
    li {
      border-bottom: solid 1px;
      &:hover {
        ul {
          display: block;
          // visibility: visible;

        }
      }
      &.last {
        border-bottom: none;
      }
      a {
        padding: 0 10px;
        font-weight: bold;
      }
    }
  }
  // Second level
  //------------------------------------
  ul ul {
    display: none !important;
    // visibility: hidden;
    li {
      padding: 0 10px;
      &:hover {}
    }
  }
  //------------------------------------
  //------------------------------------
  // DESKTOP
  //------------------------------------
  //------------------------------------
  @include respond-to(narrow) {
    h2 {
      display: none;
    }
    // First level
    //----------------------------------
    ul {
      text-align: center;
      display: block;
      li {
        @include inline-block;
        position: relative;
        border-bottom: none;
        a {
          line-height: 40px;
        }
      }
    }
    // Second level
    //----------------------------------
    ul ul {
      position: absolute;
      text-align: left;
      li {
        width: 240px;
      }
    }
  }
}
