//----------------------------------------------------------
//----------------------------------------------------------
// MAIN MENU
//----------------------------------------------------------
//----------------------------------------------------------
.l-navigation {
  h2 {
    @include icon-before(nav);
    display: none;
  }
  // First level
  //------------------------------------
  ul.menu {
    text-align: center;
    li {
      @extend %inline-block;
      // position: relative;
      &:hover {
        ul.menu {
          visibility: visible;
        }
      }
      a {
        font-weight: bold;
        line-height: 40px;
        padding: 0 10px;
      }
    }
  }
  // Second level
  //------------------------------------
  ul.menu ul.menu {
    position: absolute;
    visibility: hidden;
    text-align: left;
    li {
      // width: 120px;
      display: block;
    }
  }
  //------------------------------------
  //------------------------------------
  // MOBILE
  //------------------------------------
  //------------------------------------
  @media (max-width: 768px) {
    h2 {
      // position: relative;
      line-height: 60px;
      display: block;
      margin: 0;
      cursor: pointer;
      &:before {
        vertical-align: baseline;
      }
    }
    // First level
    //----------------------------------
    ul.menu {
      // width: 100%;
      display: none;
      text-align: left;
      li {
        // width: 100%;
        // position: relative;
        display: block;
        border-bottom: solid 1px;
        &.last {
          border-bottom: none;
        }
        a {
          // line-height: 40px;

        }
      }
    }
    // Second level
    //----------------------------------
    ul.menu ul.menu {
      li {
        display: none;
      }
      // position: absolute;
      // text-align: left;
      // li {
      //   width: 240px;
      // }

    }
  }
}
