//----------------------------------------------------------
//----------------------------------------------------------
// GLOBAL
//----------------------------------------------------------
//----------------------------------------------------------

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.l-page {
  @extend %container;
}

.l-utility-bar,
.l-header,
.l-featured,
.l-above-main,
.l-main,
.l-below-main,
.l-triptych,
.l-footer-columns,
.l-footer {
  @extend %clearfix;
}

// Overlay
//--------------------------------------
.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal {
  visibility: hidden;
}

.modal-show {
  visibility: visible;
}

// Top
//--------------------------------------
.l-header {}

.l-utility-bar {}

.l-branding {
  position: relative;
  z-index: 10;
  float: left;
}

.l-header-region {
  float: right;
}

.l-navigation {
  background: #eee;
  @extend %wide;
  // Below header
  //------------------------------------
  clear: both;
  // Floating right
  //------------------------------------
  // float: right;
  // clear: right;
}

// Main
//--------------------------------------
.l-featured {
  padding-top: 20px;
  padding-bottom: 20px;
}

.l-above-main {}

.l-main {}

.l-main-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.l-below-main {}

// Bottom
//--------------------------------------
.l-triptych {}

.l-footer-columns {}

.l-footer {
  @extend %wide;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eee;
}

//----------------------------------------------------------
//----------------------------------------------------------
// NARROW
//----------------------------------------------------------
//----------------------------------------------------------
/**
 * NARROW
 **********************************************************/
@include breakpoint($narrow) {
  .l-branding {
    // float: left;

  }
  .l-header-region {
    // float: right;

  }
  .sidebar-first,
  .sidebar-second,
  .two-sidebars {
    .l-main-content {
      @include span(8);
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span(last 4);
    }
    .l-sidebar-second {
      clear: right;
    }
  }
  .l-triptych-first,
  .l-triptych-middle {
    @include span(4);
  }
  .l-triptych-last {
    @include span(last 4);
  }
  .l-footer-firstcolumn,
  .l-footer-thirdcolumn {
    @include span(6);
  }
  .l-footer-secondcolumn,
  .l-footer-fourthcolumn {
    @include span(last 6);
  }
}


//----------------------------------------------------------
//----------------------------------------------------------
// NORMAL
//----------------------------------------------------------
//----------------------------------------------------------
/**
 * NORMAL
 **********************************************************/
@include breakpoint($normal, $no-query: true) {
  .sidebar-first {
    .l-main-content {
      @include span(last 9);
      @include prefix(0.5);
    }
    .l-sidebar-first {
      @include span(3);
      @include suffix(0.25);
    }
  }
  .sidebar-second {
    .l-main-content {
      @include span(9);
      @include suffix(0.5);
      border-right: 1px solid #eee;
    }
    .l-sidebar-second {
      @include span(last 3);
      @include prefix(0.25);
      clear: none;
    }
  }
  .two-sidebars {
    .l-main-content {
      @include span(6);
      @include push(3);
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span(3);
    }
    .l-sidebar-first {
      @include pull(9);
    }
    .l-sidebar-second {
      @include last;
      clear: none;
    }
  }
  .l-footer-firstcolumn,
  .l-footer-secondcolumn,
  .l-footer-thirdcolumn {
    @include span(3);
  }
  .l-footer-fourthcolumn {
    @include span(last 3);
  }
}
